body
{
    margin: 0%;
}
.head
{
    border: 2px solid green;
    height:65px;
    margin-top: -3px;
    box-shadow:5px 3px 3px black;
    background: linear-gradient(10deg,navy,red,blue,red,navy);
    position: fixed;
    width: 100%;
}
.brand
{
    line-height: 7px;
    width:30%;
    color:deepskyblue;
    font-weight: bold;
}
#momo
{
    color:yellow;
}
#cake
{
    color:springgreen;
}
#mugi
{
    color:violet;
}
.parallel
{
    background-image: url("333634.jpg");
    height:99vh;
    background-attachment:fixed ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    margin-top: -27px;
    padding-top: 0px;
}
#bc
{
    background: rgba(0, 0,0,0.6);
    height: 99vh;
}
#bc>h1
{
    color:lime;
    padding-top: 150px;
    font-weight: bold;
    font-size: 45px;
}
#bc>p
{
    color:cornsilk;
    font-weight: bold;
    padding: 5px;
    font-size: x-large;
    font-style: italic;
}
.menu
{
    float:right;
    width:65%;
    margin-top:-4%;
    
}
a
{
    text-decoration: none;
    margin-right: 17px;
    margin-left: 20px;
    color:cornsilk;
    font-weight: bold;
    font-size: large;
}
a:hover
{
    color:skyblue;
    font-size:larger;
}
button
{
    border-radius:10%;
    height:50px;
    width:200px;
    border:2px solid blue;
    background: none;
    color:lawngreen;
    font-weight: bold;
    font-size: large;
    margin-top: 30px;
}
button:hover
{
    background: mediumblue;
    color:whitesmoke;
    border: 2px solid chartreuse;
    box-shadow: 5px 3px 5px 3px whitesmoke;
    cursor: pointer;
}
/* ABOUT SESSION STARTED */
.header_about
{
    text-align: center;
    font-size: 60px;
    color:navy;
    font-weight: bolder;
    background: linear-gradient(30deg,black,gold,lime,black,yellow);
    border: 1px solid green;
    box-shadow: 0 0 10px yellow;
}
.about_left
{
text-align: center;
background:linear-gradient(45deg,blue,skyblue,navy);
color:cornsilk;
float:left;
width:40%;
height:600px;
font-weight: bold;
font-size: x-large;
border-right:2px solid black;
padding-right: 11px;
}
img
{
    width:500px;
    height:350px;
}
.about_right
{
    float:right;
    width:59%;
    height:600px;
    background: linear-gradient(60deg,maroon,red,black);
}
.about_h1
{
    color:violet;
    font-weight: bolder;
    font-size: x-large;
}
.about_loreum>h2
{
    color:darkmagenta;
    font-weight: bolder;
    font-size: x-large;
}
.about_loreum>p
{
    color:skyblue;
    font-size: large;
    font-weight: bold;
}
#apple,#playstore
{
    padding:10px;
    margin:40px;
    font-weight: bolder;

}
/*OCCASION SECTION STARTED HERE*/
.occasions
{
    background: linear-gradient(45deg,blueviolet,yellow,blue);
}

.header_occasions
{
    text-align: center;
    height:650px;
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(45deg,navy,red,darkblue);
    color:wheat;
    box-shadow: 0 10px 10px yellowgreen;
}
.body_occasions
{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15%;
    margin-top: 2%;
    row-gap: 20px;
    column-gap: 5px;
    padding: 20px;
    padding-left: 40px;
    
}
.card
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border:2px solid black;
    width:250px;
    margin-left: 3%;
    height:348px;
    background: linear-gradient(45deg,green,lime);
    box-shadow: 0 0 10px gray;
}
.card h3
{
    color:navy;
    margin-bottom: 3%;
}
.card img
{
    height:250px;
    width:250px;
}
.card button
{
    margin-top: 0%;
    width:250px;
    color:gold;
    background: linear-gradient(20deg,maroon,red);
    border:2px solid maroon;
}
.card button:hover
{
    color:whitesmoke;
    background: linear-gradient(45deg,skyblue,yellow,orange,skyblue);
}
/*flavours section started here!!*/
.Flavours
{
    background: linear-gradient(45deg,magenta,red);
}
.head_flavours
{
    border:2px solid lime;
    margin-top:-15%;
    height:60px;
    text-align: center;
    color:darkgreen;
    font-weight: bolder;
    font-size: xx-large;
    background: linear-gradient(20deg,yellow,red,lime);
    box-shadow: 0 0 10px green;
    padding-top: 10px;

}
.grid_flavours
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin:40px 190px;
    row-gap: 20px;
    background: greenyellow;
    padding:20px;
}
.body_flavours
{
    display: flex;
    flex-direction: column;
    border:2px solid blue;
    box-shadow: 0px 0  10px blue;
    width:300px;
}
.body_flavours img
{
    height:300px;
    width:300px;
}
.body_flavours button
{
    width:300px;
    margin-top: 0%;
    background: linear-gradient(10deg,navy,blue,darkblue);
}
/*TYPES SECTION STARTED HERE!!*/
.Types
{
    background: linear-gradient(45deg,pink,red,maroon);
}
.head_type
{
    color:sandybrown;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border:2px solid wheat;
    box-shadow: 0 0 10px whitesmoke;
    margin-top: -4%;
    background: linear-gradient(45deg,gold,black,skyblue);
}
.card_type
{
    width:500px;
    border:2px solid grey;
    box-shadow: 0 0 10px greenyellow;
    text-align: center;
    background: linear-gradient(45deg,orange,yellow,lime);
}
.card_type button
{
    width:400px;
    margin-left: 3%;
    margin-top: 1%;
    background: linear-gradient(45deg,black,gold);
    border:2px solid yellowgreen;
}
.card_type button:hover
{
    background: linear-gradient(45deg,blue,green,lime);
}
.card_type h3
{
    color:maroon;
    font-weight: bolder;
    font-size: x-large;
}
.card_type p
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color:mediumvioletred;
}
.body_type
{
    display: grid;
    grid-template-columns: auto auto ;
    background: royalblue;
    row-gap: 30px;
    padding: 40px;
    margin-left: 5%;
    padding-right: 0%;
    margin-right: 5%;
}
